<table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Price</th>
      <th scope="col">Change 24h</th>
    </tr>
  </thead>
  <% @coins['data'].each do |x| %>
  <tbody>
    <tr>
      <th scope="row"><%= x[1]['name'] %></th>
      <td><%= x[1]['symbol'] %></td>
      <td><%= number_to_currency(x[1]['quotes']['USD']['price']) %></td>
      <td><%= x[1]['quotes']['USD']['percent_change_24h'] %>%</td>
    </tr>
    </tr>
  </tbody>
  <% end %>
</table>

<br/><br/>

<div class="container">
  <div class="row">
    <% for items in @news['Data'] %>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= items['imageurl'] %>" alt="<%= items['source'] %>">
          <div class="card-body">
            <h5 class="card-title"><%= items['title']%></h5>
            <p class="card-text"><%= items['body'].truncate(150) %></p>
            <a href="<%= items['url'] %>" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      <br/>
      </div>
    <% end %>
  </div>
</div>
